APP_PORT=3000
APP_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=postgres
DB_DATABASE=social-chat-local


JWT_SECRET=abc
JWT_TOKEN_EXPIRE=15m
JWT_REFRESH_TOKEN_EXPIRE=7d

KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REDIRECT_URI=
KEYCLOAK_LOGOUT_REDIRECT_URI=
KEYCLOAK_POST_LOGOUT_REDIRECT_URI=
KEYCLOAK_TOKEN_ENDPOINT=
KEYCLOAK_USER_INFO_ENDPOINT=
KEYCLOAK_JWKS_URI=
KEYCLOAK_SCOPE=

MINIO_URL=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_SSL=